---
import Layout from '../layouts/Layout.astro'
import Rating from '../components/ Rating'
---

<Layout title="Frontend Mentor | Interactive rating component">
	<main class="grid min-h-dvh place-content-center">
		<Rating client:load />
	</main>
</Layout>
